name: FundiGo CI/CD

on:
  push:
    branches:
      - main

jobs:
  frontend:
    name: Deploy frontend to Vercel
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install frontend dependencies
        working-directory: fundigo-frontend
        run: npm install

      - name: Build frontend
        working-directory: fundigo-frontend
        run: npm run build
     
      - name: Deploy to Vercel
        run: npm install -g vercel
             vercel pull --yes --environment=production \
            --token=${{ secrets.VERCEL_TOKEN }} \
            --scope=${{ secrets.VERCEL_ORG_ID }}
           vercel deploy --prod \
           --token=${{ secrets.VERCEL_TOKEN }} \
           --scope=${{ secrets.VERCEL_ORG_ID }} \
           --project=${{ secrets.VERCEL_PROJECT_ID }}

  backend:
    name: Deploy Backend to Render
    runs-on: ubuntu-latest
    needs: frontend

    steps:
      - name: Trigger Render Deploy
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}
